In [1]:
import mysql.connector 
import pandas as pd

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456789",
  database="gravity_books"
)

mycursor = mydb.cursor()
mycursor.execute("SHOW tables")

In [3]:
for x in mycursor:
  print(x)

('address',)
('address_status',)
('author',)
('book',)
('book_author',)
('book_language',)
('country',)
('cust_order',)
('customer',)
('customer_address',)
('order_history',)
('order_line',)
('order_status',)
('publisher',)
('shipping_method',)

In [4]:
query1 = "SELECT * FROM cust_order"
query2 = "SELECT * FROM customer"
query3 = "SELECT * FROM order_history"
query4 = "SELECT * FROM order_status"

In [ ]:
cust_order_df= pd.read_sql(query1,con=mydb)
customer_df=pd.read_sql(query2,con=mydb)
order_history_df=pd.read_sql(query3,con=mydb)
order_status_df=pd.read_sql(query4,con=mydb)

In [6]:
cust_order_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7550 entries, 0 to 7549
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            7550 non-null   int64
 1   order_date          7550 non-null   datetime64[ns]
 2   customer_id         7550 non-null   int64
 3   shipping_method_id  7550 non-null   int64
 4   dest_address_id     7550 non-null   int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 295.1 KB

In [7]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  2000 non-null   int64
 1   first_name   2000 non-null   object
 2   last_name    2000 non-null   object
 3   email        2000 non-null   object
dtypes: int64(1), object(3)
memory usage: 62.6+ KB

In [8]:
order_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22345 entries, 0 to 22344
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   history_id   22345 non-null  int64
 1   order_id     22345 non-null  int64
 2   status_id    22345 non-null  int64
 3   status_date  22345 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 698.4 KB

In [9]:
order_status_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   status_id     6 non-null      int64
 1   status_value  6 non-null      object
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

In [10]:
cust_order_df.to_csv("cust_order.csv",index=False)
customer_df.to_csv("customer.csv",index=False)
order_history_df.to_csv("order_history.csv",index=False)
order_status_df.to_csv("order_status.csv",index=False)